button {
    font-size: 2em;
    padding: 5px;
    margin: 5px;
}

.dice {
    width: 5em;
    height: 5em;
    border: 5px solid black;
    border-radius: 1.25em;
    margin: 1em;
    float: left;
    text-align: center;
}

