button {
    font-size: 2em;
    padding: 5px;
    margin: 5px;
}

.dice {
    width: auto;
    height: auto;
    /* border: 5px solid black;
    border-radius: 1.25em; */
    /* margin: 0.5em; */
    float: left;
    /* text-align: center; */
    font-size: 10em;
}

